@font-face {
	font-family: 'flamingregular';
	src: url(../fonts/flaming/flaming-webfont.woff2) format('woff2'),
         url(../fonts/flaming/flaming-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}